html,
body {
    height: 100%;
    width: 100%;
}

main {
    display: block;
    min-height: 106%;
    overflow: auto;
    color: mediumpurple;
    background-color: black;
}

main * {
    font-family: Comic Sans MS;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}


a.button3{
  
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    text-align: center;
  }
  a.button3:hover{
    background-color:#4095c6;
  }
#project-title {
    padding: 2.5em 1em !important;
    text-shadow: 3px 3px 7px #000;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #05053c;
    color: white;
    text-align: center;
}
#center {
    align-items: center;
    align-content: center;
    align-self: center;
}


/* Loader */

div#pre-loader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(0.5);
    z-index: 9999999;
}

#loader-container {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

#loader-container div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: pre-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

#loader-container div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

#loader-container div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

#loader-container div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes pre-loader {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

#dImage {
    width: 100%;
    max-height: 15vh;
    object-fit: scale-down;
    object-position: center center;
    ;
}

img.mini-display-img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    object-position: center center;
    padding: 0.1em;
}

img#display-img {
    width: 80%;
    height: 25vh;
    object-fit: scale-down;
    object-position: center center;
}