body {
	background-image: url("jade.jpg");
	background-color: #cccccc;
}
.text{
    width: 100px;
    padding: 10px;
    margin: auto;
}
.login{
    width: 100px;
    padding: 10px;
    margin: auto;
}